# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [22]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [25]:
cities = pd.read_csv("../output_data/cities.csv")
cities

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,0,Ribeira Grande,27,PT,1584926604,73,38.52,-28.70,52.92,6.93
1,1,Wattegama,36,LK,1584926605,100,6.80,81.48,73.40,4.70
2,2,Salinas,90,US,1584926505,67,36.68,-121.66,62.60,10.29
3,3,Dikson,100,RU,1584926605,99,73.51,80.55,-5.40,11.30
4,4,Airai,74,TL,1584926606,63,-8.93,125.41,73.62,2.10
...,...,...,...,...,...,...,...,...,...,...
564,564,Grajaú,100,BR,1584926869,94,-5.82,-46.14,73.13,2.35
565,565,Mingshui,0,CN,1584926769,45,36.72,117.50,52.38,6.08
566,566,Vila Velha,90,BR,1584926870,88,-20.33,-40.29,75.20,10.29
567,567,Nishihara,75,JP,1584926870,78,26.18,127.76,75.20,8.05
568,568,Vila do Maio,20,CV,1584926871,73,15.13,-23.22,69.80,18.34

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [30]:
# Configure gmaps
# gmaps.configure(api_key=gkey)

# Store latitude and longitude in locations
locations = cities[["Latitude", "Longitude"]]

# Fill NaN values and convert to float
rating = cities["Humidity"].astype(float)

locations

     Latitude  Longitude
0       38.52     -28.70
1        6.80      81.48
2       36.68    -121.66
3       73.51      80.55
4       -8.93     125.41
..        ...        ...
564     -5.82     -46.14
565     36.72     117.50
566    -20.33     -40.29
567     26.18     127.76
568     15.13     -23.22

[569 rows x 2 columns]

In [27]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map